@import "styles/variables.scss";

.container {
  display: grid;
  justify-items: center;
  row-gap: 5vh;
  padding-top: 5vh;
  min-width: 30vh;

  @media only screen and (min-width: $screen-medium) {
    min-width: 40vh;
  }
  @media only screen and (min-width: $screen-big) {
    min-width: 50vh;
  }
}

.portraitContainer {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  text-align: center;

  img {
    height: 100%;
    width: auto;
    clip-path: circle();

  }
}


.textContainer {
  font-size: 2vh;
  max-width: 40vh;
  text-align: center;
}

.subtitle {
  padding-top: 1vh;
  opacity: 0.6;
}