
.container {
  font-size: 1.5vh;
}

.introduction {
  max-width: 50vh;
  padding-bottom: 3vh;
}

.timelineContainer {
  max-width: 50vh;

  div {
    padding-bottom: 1.5vh;
  }
}

.separator:last-of-type {


}

.jobCardContainer {
  display: grid;
  row-gap: 1.5vh;
}

.jobCard {
  padding: 2vh;
  margin: 1.5vh;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.jobCard:hover {

  transform: scale(1.01);

}