
.container {

}

.introduction {
  max-width: 50vh;
  padding-bottom: 3vh;
}

.timelineContainer {
  max-width: 50vh;


  div {
    padding-bottom: 1.5vh;
  }
}

.separator:last-of-type {


}
.separator {
  border-bottom: 2px solid black;
  width: 80%;
  justify-self: center;

}

.jobCardContainer {
  display: grid;
  row-gap: 1.5vh;
}

.jobCard {
  //border-bottom: 2px dotted black;
  //border: 2px dotted black;
  //margin-bottom: 2vh;
  //border-radius: 10px;
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.jobCard:hover {

  transform: scale(1.01);

}