.container {
  max-width: 90vh;
  width: auto;
  //display: grid;
}

.masonryGrid{
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonryGridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.masonryGridColumn > div { /* change div to reference your elements you put in <Masonry> */
  //background: grey;
  margin-bottom: 30px;

}

.hiddenButton {
  all:unset;
  cursor: pointer;
}

.jobCardContainer {

}

.projectCard:hover {
  //transform: scale(1.01);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  display: grid;
  justify-items: center;

  img {
    justify-self: center;
    width: 15vh;
    height: auto;
    padding-bottom: 1vh;
  }
}

.projectCard {
  display: grid;
  padding: 1vh;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  //box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

}

.projectTextContainer >div:not(:last-child){
  padding-bottom: 1vh;
}
.projectTextContainer{
  font-size: 1.3vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;

}

.projectTitle{
  font-weight: bold;
  padding-bottom: 0.5vh;
  //justify-self: center;
  //text-align: center;
  //padding-bottom: 1vh;
}

.projectCompany{
  //justify-self: center;
  color: #6c757d!important
}

.projectDescriptionShort{
  //padding-top: 1vh;
  padding-top: 0.5vh;
}

.projectTagsContainer{
  width: 100%;
  height: auto;

}

.projectTagsContainer > span{
  padding-rihgt: 3px;
}

.projectTag {
  align-items: center;

  //font-weight: bold;
  font-size: 1.2vh;
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  width: auto;

  position: relative;
  border-radius: 100px;
  line-height: 1;
  overflow: hidden;
  padding: 3px 6px 3px 6px;
  //margin-right: 6px;
  margin-right: 0.5vh;
  margin-bottom: 0.5vh;
  text-overflow: ellipsis;
  //line-height: 1.25rem;
  //color: #595959;
  color: #6c757d;
  word-break: break-word;

  &:before {
    border-radius: 50%;
    content: '';
    height: 10px;
    left: 6px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;
  }

  background: lavender;

}



